extends layout

include utils.pug

block content
    div#header
        div#user
            if locals.authenticated
                span.welcome Welcome #{user.username}!
                form(action='/logout' method='post')
                    button(type='submit') Logout
    div#content
        div#sidebar
            div.lists
                div.list-header Inbox
                ol#default-lists
                    li#today Today's Tasks
                    li#tomorrow Tomorrow's Tasks
                    li#all All Tasks
            div.lists
                div.list-header Lists
                div.add-list-button(role='button') +
                ol#task-lists
            div.lists
                div.list-header Categories

                ol#task-categories
        div#main
            div#add-task
                include dashboard-task.pug

        div#add-list(style='display: none')
            div.add-task-box
                p Add a List
                form(id='add-list-form')
                    +field('Please enter a new list name:', 'addList', '')
                    div.add-list-buttons
                        button.submit-list(type="submit") Add
                        button.cancel-submit-list(type="submit") Cancel


        div#summary
            include dashboard-summary.pug
        script(src="/javascripts/dashboard-list.js" type="module")
        script(src="/javascripts/dashboard-inbox.js" type="module")
        script(src="/javascripts/dashboard-tasks.js" type="module")
        script(src="/javascripts/dashboard-summary.js" type="module")
