extends layout

include utils.pug

block content
    div#header
        div#user
            if locals.authenticated
                span.welcome Welcome #{user.username}!
                form(action='/logout' method='post')
                    button(type='submit') Logout
    div#content
        div#sidebar
            div.lists
                div.list-header Inbox
                ol#default-lists
                    li Today's Tasks
                    li Tomorrow's Tasks
                    li All Tasks
            div.lists
                div.list-header Lists
                ol#task-lists
            div.lists
                div.list-header Categories
                ol#task-categories
        div#main
            div#add-task
                include dashboard-task.pug
        //- script(src="javascripts/dashboard-task.js")


        div#summary
            include dashboard-summary.pug
        //- script(src="http://localhost:8080/public/javascripts/dashboard-list.js")
        script(src="javascripts/dashboard-list.js")
