extends layout

include utils.pug

block content

    div#content
        div#topbar
            p header
        div#sidebar
            ol#task-lists
                li#today Today's Tasks
                li#tomrrow Tomorrow's Tasks
                li#all All Tasks
        div#main
            include dashboard-task.pug
        //- script(src="/javascripts/dashboard-task.js")
        

        div#summary
            include dashboard-summary.pug
        script(src="/javascripts/dashboard-list.js")
        script(src="/javascripts/dashboard-inbox.js")
        
