include utils.pug

append head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

div.checkbox-container
    div(class="checkbox grid-square")
        input(type="checkbox")
    div.split-3
        div(class="completed grid-square")
            i(class="fas fa-check")
        div(class="postpone grid-square")
            i(class="fas fa-calendar-plus")
            div(class="postpone-dates dropdown" style='display: none')
    div.split-2
        div(class="moveTo grid-square")
            i(class="fas fa-list-alt")
            div(class="list-of-lists dropdown" style='display: none')
        div(class="category grid-square")
            i(class="fas fa-tag")
            div(class="list-of-tags dropdown" style='display: none')
    div(class="delete grid-square")
        i(class="fas fa-trash-alt")
+errorSummary(errors)
div#add-task-form
    form(id='add-task-input')
        input(type='hidden' name='_csrf' value=csrfToken id='add-task-input')
        +field('', 'name', name, '', 'Add a task...')
        div.add-task-button
            button(type='submit' disabled='true') Moo

div#tasksContainer
