extends layout.pug

include utils.pug

block content
    p list content
        +errorSummary(errors)
        form(action='/api/tasks' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('name', 'name', name, '', 'name')
            button(type='submit') Submit

        div#taskItems
    
    
