extends layout.pug

include utils.pug

block content
    p My Tasks
        +errorSummary(errors)
        div#add-task-form
            form(action='/api/tasks' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('', 'name', name, '', 'Add a task...')
                div.add-task-button
                    button(type='submit' disabled='true') Moo

    div#tasks-container
