div.task-summary
    div#task-recap
        div#title-div Task Status
        div.recap-containers
            div.recap-details
                div#recap-in-progress.recap-counter 0
                div In Progress
            div.recap-details
                div#recap-due-today.recap-counter 0
                div Due Today
            div.recap-details
                div#recap-completed.recap-counter 0
                div Completed
        div.bad-joke How do we keep track of all these to-moos? We use a cowculator.
    div#task-details
