extends layout.pug

include utils.pug

block content
    p My Tasks
        +errorSummary(errors)
        div#form-container
            form(id="add-task-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('', 'name', name, '', 'Add a task...')
            div.addTaskDiv.hidden-add(hidden='true')
                button.addTaskButton.hidden-add(type='submit' hidden="true") Add


    div#taskContainer
