extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

block content
    header
        div.navbar-container
            div.navbar
                a(href='/' class="moogo")
                    img(src='images/logo.png', alt="cow-on-computer" id="logo")
                
                ul
                    li 
                        a(href="#") Tour
                    li 
                        a(href="#") Upgrade  
                    
                    li 
                        a(href="#") Meet the team 
                    li 
                        a(href="/login") Log in
                    li(class="signup") 
                        a(href="/signup") Sign up for free 
        
        div.header-content
            h1 Funny Slogan hur hur hur
            div.carousel
                div(class="slide active")
                    img(src="images/wavingCow.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/office.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/moosic.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/cowblep.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.navigation
                    i(class="fas fa-chevron-left prev-btn")
                    i(class="fas fa-chevron-right next-btn")
                div.pageIndicator
                    div(class="page-icon active")
                    div.page-icon
                    div.page-icon
                    div.page-icon

        footer
            div.foot-container
                div.copyright @ 2021 To Moo List
    script(src="/javascripts/splash-page.js")
