extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

block content
    header
        div.navbar-container
            div.navbar
                a(href='/' class="moogo")
                    img(src='images/logo-o-light.png', alt="cow-on-computer" id="logo")
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/upgrade") Upgrade
                    li
                        a(href="/team") Meet the team
                    li
                        a(href="/login") Log in
                    li(class="signup")
                        a(href="/signup") Sign up for free
        div.header-content
            h1 Funny Slogan hur hur hur
            div.carousel
                div(class="slide active")
                    img(src="images/wavingCow-o.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/office-o.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/moosic-o.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.slide
                    img(src="images/cowblep-o.png", alt="" class="")
                    div.carousel-info
                        h2 Don't forget!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                div.navigation
                    i(class="fas fa-chevron-left prev-btn")
                    i(class="fas fa-chevron-right next-btn")
                div.pageIndicator
                    div(class="page-icon active")
                    div.page-icon
                    div.page-icon
                    div.page-icon
    footer
        div.social-container
            div.social-links
                div(class="christy person")
                    h4 Christy
                    ul
                        li
                            a(href="#") Linkedin
                        li
                            a(href="#") Github
                        li
                            a(href="#") Instagram
                div(class="haozhen person")
                    h4 Haozhen
                    ul
                        li
                            a(href="#") Linkedin
                        li
                            a(href="#") Github
                        li
                            a(href="#") Instagram
                div(class="justin person")
                    h4 Justin
                    ul
                        li
                            a(href="#") Linkedin
                        li
                            a(href="#") Github
                        li
                            a(href="#") Instagram
                div(class="peter person")
                    h4 Peter
                    ul
                        li
                            a(href="#") Linkedin
                        li
                            a(href="#") Github
                        li
                            a(href="#") Instagram
        div.copyright
            p &copy; Copyright 2021 To Moo List
            a(href="#") Terms
            a(href="#") Privacy
            a(href="#") Security
    script(src="/javascripts/splash-page.js")
