header
    div.navbar-container
        div.navbar
            a(href='/' class="moogo")
                img(src='images/logo-o-light.png', alt="cow-on-computer" id="logo")
            ul
                li
                    a(href="/") Home
                li
                    a(href="https://github.com/PeterShinnn/To-Moo-List" target="_blank" rel="noreferrer noopener") GitHub
                li
                    a(href="/demo/login") Demo
                li
                    a(href="/login") Log In
                li(class="signup")
                    a(href="/signup") Sign Up
