header
    div.navbar-container
        div.navbar
            a(href='/' class="moogo")
                img(src='images/logo-o-light.png', alt="cow-on-computer" id="logo")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/upgrade") Upgrade
                li
                    a(href="/team") Meet the team
                li
                    a(href="/demo/login") Demo
                li
                    a(href="/login") Log in
                li(class="signup")
                    a(href="/signup") Sign up for free
