footer
    div.social-container
        div.social-links
            div(class="christy person")
                h4 Christy
                ul
                    li
                        a(href="https://www.linkedin.com/in/christywchen/") Linkedin
                    li
                        a(href="https://github.com/christywchen") Github
                    li
                        a(href="#") Instagram
            div(class="haozhen person")
                h4 Haozhen
                ul
                    li
                        a(href="#") Linkedin
                    li
                        a(href="https://github.com/Haozhen-Shu") Github
                    li
                        a(href="#") Instagram
            div(class="justin person")
                h4 Justin
                ul
                    li
                        a(href="https://www.linkedin.com/in/jstnswn/") Linkedin
                    li
                        a(href="https://github.com/jstnswn") Github
                    li
                        a(href="#") Instagram
            div(class="peter person")
                h4 Peter
                ul
                    li
                        a(href="https://www.linkedin.com/in/petershin731/") Linkedin
                    li
                        a(href="https://github.com/PeterShinnn") Github
                    li
                        a(href="#") Instagram
    div.copyright
        p &copy; Copyright 2021 To Moo List
        a(href="#") Terms
        a(href="#") Privacy
        a(href="#") Security
script(src="/javascripts/splash-page.js")
