extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/upgrade.css")

block content
    include splash-navbar.pug
    div.header-content
        h1 Get mooore done today.
        a(href="https://github.com/PeterShinnn/To-Moo-List") Learn More
        h3 Only $999.99 per year! Read all about it on our GitHub repo.
        img(src="images/money-cow-o.png", alt="cow money")
    include splash-footer.pug
