extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/upgrade.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

block content
    header
        div.navbar-container
            div.navbar
                a(href='/' class="moogo")
                    img(src='images/logo-o-light.png', alt="cow-on-computer" id="logo")
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/upgrade") Upgrade
                    li
                        a(href="/team") Meet the team
                    li
                        a(href="/login") Log in
                    li(class="signup")
                        a(href="/signup") Sign up for free
        div.header-content
            h1 Get mooore done today!
            a(href="#") Upgrade Now
            h3 Only $999.99 per year
            img(src="images/money-cow-o.png", alt="cow money")
    include splash-footer.pug
