extends layout.pug

include utils.pug

block content
    div#signupBt
       button(type='submit')
            a(href="/signup") Sign Up
    div#login_main
        //- +errorSummary(errors)
        form(action='/login' method='post')
            div#login_form
                input(type='hidden' name='_csrf' value=csrfToken)
                div#user_form
                    +field('Username', 'username', username)
                div#password_form
                    +field('Password', 'password', password, 'password')
                button(type='submit') Log In
                    if !errors
                        a(href='/dashboard')
