extends layout.pug

include utils.pug

block content
    div#signup_main
        div#loginBtCon
            button(type='submit')
                a(href="/login") Log in 
        div#signup_container
            div#img_container
                div#image
                    img(src='images/office.png')
            div#form_container
                //- div#errMsg
                    //- +errorSummary(errors)
                form(action='/signup' method='post')
                    div#singupForm
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div#username_box
                            +field('Username', 'username', username)
                        div#firstname_box
                            +field('First Name', 'firstName', firstName)
                        div#lastname_box
                            +field('Last Name', 'lastName', lastName)
                        div#email_box
                            +field('Email Address', 'email', email, 'email')
                        div#password_box
                            +field('Password', 'password', password, 'password')
                        div#confirm_box
                            +field('Confirm Password', 'confirmPassword', confirmPassword, 'password')
                        button(type='submit') Sign Up
                            if !errors
                                a(href='/dashboard')

