extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/team.css")

block content
    include splash-navbar.pug
    main
        div#signup_main
            div.errMsg(hidden)
                        +errorSummary(errors)
        div#signuppage_container
            div#signup_container
                div#img_container
                    img(src='images/office-o.png')
                div#form_container
                    form(action='/signup' method='post' class="signup_form")
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div#username_box
                            +field('Username', 'username', username)
                        div#firstname_box
                            +field('First Name', 'firstName', firstName)
                        div#lastname_box
                            +field('Last Name', 'lastName', lastName)
                        div#email_box
                            +field('Email Address', 'email', email, 'email')
                        div#password_box
                            +field('Password', 'password', password, 'password')
                        div#confirm_box
                            +field('Confirm Password', 'confirmPassword', confirmPassword, 'password')
                        div#signupBtCon
                            button(type='submit') Sign Up
                                if !errors
                                    a(href='/dashboard')
<<<<<<< HEAD
                    p.login-cta
                        a(href="/login") Already have an account? Log in
    include splash-footer.pug
=======
                            button(type='submit')
                                a(href="/login") Already Has an Account? Log in
    footer
        div.social-container
            div.social-links
                div(class="christy person")
                    h4 Christy
                    ul
                        li
                            a(href="https://www.linkedin.com/in/christywchen/") Linkedin
                        li
                            a(href="https://github.com/christywchen") Github
                        li
                            a(href="#") Instagram
                div(class="haozhen person")
                    h4 Haozhen
                    ul
                        li
                            a(href="#") Linkedin
                        li
                            a(href="https://github.com/Haozhen-Shu") Github
                        li
                            a(href="#") Instagram
                div(class="justin person")
                    h4 Justin
                    ul
                        li
                            a(href="https://www.linkedin.com/in/jstnswn/") Linkedin
                        li
                            a(href="https://github.com/jstnswn") Github
                        li
                            a(href="#") Instagram
                div(class="peter person")
                    h4 Peter
                    ul
                        li
                            a(href="https://www.linkedin.com/in/petershin731") Linkedin
                        li
                            a(href="https://github.com/PeterShinnn") Github
                        li
                            a(href="#") Instagram
        div.copyright
            p &copy; Copyright 2021 To Moo List
            a(href="#") Terms
            a(href="#") Privacy
            a(href="#") Security
            script(src="/javascripts/errors.js" type="module")
>>>>>>> task-summaries-bug-patching
