@import url("/stylesheets/main.css");
@import url("/stylesheets/sidebar.css");
@import url("/stylesheets/summary.css");
@import url("/stylesheets/utils.css");
@import url("/stylesheets/signup.css");
@import url("/stylesheets/login.css");
@import url("/stylesheets/errors.css");
@import url("/stylesheets/sidebar-animation.css");

:root {
    --main-color: #0055b2;
    --secondary-color: #a5c9e7;
    --tertiary-color: #cfe3f2;
    --divider-color: #b3d4ed;
    --lighter-div-bg: #bdd8eb;
    --button-color-light: #1575c1;
    --medium-div-bg: #7fadcd;
    --inp-border: lightgrey;
    --task-recaps-bg: #d5e6f3;
    --tasks-due-today: #0d783d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: var(--tertiary-color);
}

/* header block */
#header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 46px;
    color: var(--tertiary-color);
    background-color: var(--main-color);
}

#user {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* content block positioning */
#content {
    display: grid;
    grid-template-columns: 200px 1fr 10px 1fr;
    height: 100%;
    padding: 10px 5px;
}

#sidebar {
    padding: 0 20px;
}

#main {
    position: relative;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    z-index: 5;
}

#summary {
    position: relative;
    width: 100%;
    background-color: var(--lighter-div-bg);
    border-radius: 5px 5px 0 0;
}
