#login_main{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signupBt{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

#signupBt > button > a {
    color: white;
}

#login_form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inp-div {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    line-height: 2em;
}
