/* sidebar elements */
.sidebar-logo {
    background-image: url("../images/logo-o-dark.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    height: 100px;
    width: 100%;
}

li {
    list-style-type: none;
}

ol#task-lists,
ol#default-lists {
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    list-style-type: none;
    border-bottom: 1px solid var(--divider-color);
}

.lists {
    line-height: 2em;
}

.lists .list-header {
    font-weight: bold;
}

.lists .list-header:hover,
.lists li:hover,
.list-header-container:hover,
.list-box:hover {
    background-color: var(--divider-color);
}

.list-edit-option:hover {
    background-color: var(--divider-color);
    margin-left: 0;
}

ol li {
    line-height: 2em;
}

.list-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
}

.list-icons {
    display: none;
    color: rgb(117, 165, 228);
}

.list-box:hover > .list-icons {
    display: block;
    /* color: red; */
}

.list-edit-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40px;
    width: 120px;
    top: 15px;
    background-color: white;
    z-index: 3;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 20%);
    border-radius: 3px;
}

.list-edit-option {
    width: 100%;
    padding: 2px;
    margin-left: 5px;
}

.add-list-button {
    z-index: 10;
}

.fa-plus-square {
    color: #1575c1;
}

.fa-plus-square:hover {
    color: #a5c9e7;
    background-color: #1575c1;
}

.fa-caret-square-down:hover {
    color: #a5c9e7;
    background-color: #1575c1;
}
