/* sidebar elements */
.sidebar-logo {
    background-image: url("../images/logo-o-dark.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    height: 100px;
    width: 100%;
}

li {
    list-style-type: none;
}

.lists {
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--divider-color);
}

/* here */
.list-container {
    display: none;
}

.lists {
    line-height: 2em;
    /* min-height: 500px; */
}


.list-item,
.category-item,
.inbox-list {
    padding-left: 12px;
    color: rgb(66, 64, 64)
}

.selected-list {
    color: #0060bf;
    font-weight: bold;
}



.inbox-list:hover,
.list-edit-option:hover,
.list-header-container:hover,
.sidebar-box:hover,
.search-rec:hover {
    background-color: var(--divider-color);
}



/* original lis turned into divs */
ol li {
    line-height: 2em;
}

.list-header-container {
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-header {
    /* padding-left: 4px; */
    justify-self: start;
}

.sidebar-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
}

.sidebar-icons {
    display: none;
    color: rgb(117, 165, 228);
}

.sidebar-box:hover > .sidebar-icons {
    display: block;
    /* color: red; */
}

.list-edit-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40px;
    width: 120px;
    top: 15px;
    background-color: white;
    z-index: 3;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 20%);
    border-radius: 3px;
}

.list-edit-option {
    width: 100%;
    padding-left: 4px;
}

.add-list-button {
    z-index: 10;
}

.fa-caret-right {
    width: 17px;
}

.fa-plus-square {
    color: #67a3d4;
}

.fa-plus-square:hover {
    color: #478fca;
    background-color: #a5c9e7;
}

.fa-caret-square-down:hover {
    color: #478fca;
    background-color: #a5c9e7;
}




.page-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    z-index: 6;
    background-color: rgba(177, 171, 171, 0.5)
}
