/* sidebar elements */
.sidebar-logo {
    background-image: url("../images/logo-o.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    height: 100px;
    width: 100%;
}

li {
    list-style-type: none;
}

ol#task-lists,
ol#default-lists {
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    list-style-type: none;
    border-bottom: 1px solid var(--divider-color);
}

.lists {
    line-height: 2em;
}

.lists .list-header {
    font-weight: bold;
}

.lists .list-header:hover,
.lists li:hover {
    background-color: var(--divider-color);
    padding-left: 5px;
}

ol li {
    line-height: 2em;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
}

.list-edit-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40px;
    width: 120px;
    top: 15px;
    background-color: white;
    z-index: 3;
}

.list-edit-option {
    width: 100%;
    padding: 2px;
    margin-left: 5px;
}

.list-edit-option:hover {
    background-color: var(--divider-color);
    padding-left: 5px;
}
