@import url("/stylesheets/home.css");

.header-content h2 {
    color: #ffffff;
    margin: 15px;
}

.cow {
    display: flex;
}

.cow div h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.cow div p {
    line-height: 1.35;
}

.c-cow,
.j-cow {
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: center;
}

.h-cow,
.p-cow {
    background-color: #075cbe;
    margin: 0 auto;
    justify-content: center;
    color: white;
}

.about-left {
    align-self: center;
    width: 45%;
}

.about-right {
    align-self: center;
    width: 45%;
}
